block vars

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width; initial-scale=1")
		+style('main.css')
		title=title
	body
		block content
		include CDN
		-
			var js = [
				'select',
				'setActive',
				//- 'toggle',
				//- 'bundle'
			];
		each filename in js
			script(src='js/'+filename+'.js')